
div{
    border: 1px solid rgb(25, 0, 246);
    margin: 20px ;
    padding: 10px;
    background-color: rgba(178, 178, 228, 0.509);
    border-radius: 15px;    
    box-shadow: 10px 12px #c768f3;
    }
#Icono-usuario{
    width: 150px;
    float: left;
    border-radius: 50%;
    }
body{
    text-align: center;
    font-family: "Edu NSW ACT Cursive", cursive;
    background: linear-gradient(to right,rgba(105, 105, 159, 0.509),rgb(149, 0, 255));
    } 
.titulo{
    text-shadow: 10px 5px #c768f3;
    }
